*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    padding: 20px;
    background-color:#025955;
    border-radius: 10px;
    align-items: center;
    /* flex-direction: row; */
    /* flex-direction:row-reverse; */
    /* flex-direction: column; */
    /* flex-direction:column-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse */
}    
.flex_item{
    padding: 60px 15px;
    background-color: #ebe0e0;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
}
